.form--wrapper {
  background:
    linear-gradient(rgba(#000000, 0.2), rgba(#000000, 0.2)),
    url("../../img/form/form_desktop.png");
  background-repeat: no-repeat;
  background-size: auto 638px;
  background-position: center;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/form/form_desktop@2x.png");
  }

  @media (min-width: $tablet) {
    background-size: auto 680px;
  }

  @media (min-width: $desktop) {
    background-size: 100% auto;
  }
}

.form__container {
  padding: 31px;
  margin: 0 auto;
  width: 258px;
  min-height: calc(638px - 62px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media (min-width: $tablet) {
    padding: 50px 204px;
    width: 360px;
    min-height: calc(680px - 100px);

    gap: 25px;
  }

  @media (min-width: $desktop) {
    padding: 100px 240px;
    width: 960px;
    min-height: calc(760px - 200px);

    gap: 20px;
  }
}

.form h2 {
  margin: 0;

  font-family: $montserrat;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $base-white;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.form p {
  margin: 0;

  font-family: $montserrat;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $base-white;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
  }
}

.form__break {
  @media (width >= 768px) {
    display: none;
  }
}

.form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media (min-width: $tablet) {
    gap: 11px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 30px;
  }
}

.form__label {
  position: relative;
  width: 100%;
}

.form__label-text {
  position: absolute;
  top: 20px;
  left: 30px;
  width: calc(100% - 60px);
  min-height: 18px;

  font-family: $montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba($color: $base-dark, $alpha: 0.5);

  background-color: $base-white;
  pointer-events: none;
}

.form__input[type="number"]::-webkit-outer-spin-button,
.form__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.form__input {
  padding: 18px 28px;
  width: 100%;
  box-sizing: border-box;

  font-family: $montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba($color: $base-dark, $alpha: 0.5);

  border: 1px solid rgba($color: $accent-blue, $alpha: 0.1);
  border-radius: 2px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    width: 360px;
  }
}

.form__input::placeholder {
  color: rgba($color: $base-dark, $alpha: 0.5);
}

.form__input:placeholder-shown {
  border: 1px solid $base-dark;
}

.form__input:hover {
  border: 1px solid $accent-blue;
}

.form__input:focus-visible {
  border: 1px solid $base-dark;
  outline: none;
}

.form__label-text:has(+ .form__input:focus) {
  display: none;
}

.form__input:disabled {
  border: 1px solid $disabled;
}

.form__button {
  display: block;
  padding: 19px 20px;
  width: 100%;
  box-sizing: border-box;

  font-family: $montserrat;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $base-white;
  text-align: center;
  text-decoration: none;

  border: 1px solid $accent-blue;
  background-color: $accent-blue;
  cursor: pointer;
}

.form__button:hover {
  color: $effect;
  border: 1px solid $effect;
  background-color: $base-white;
}

.form__button:focus-visible {
  color: $effect;
  outline: none;
  border: 1px solid $base-white;
  background-color: $base-white;
}

.form__button:active {
  color: $base-white;
  border: 1px solid $effect;
  background-color: $effect;
}

.form__button:disabled {
  background-color: $disabled;
  pointer-events: none;
  cursor: default;
}
