.header--wrapper {
  background-color: $accent-blue;
}

.header__container {
  @media (width >= 320px) and (width <= 767px) {
    padding: 15px;
    // margin: 0 auto;
    // width: 290px;

    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }

  @media (min-width: $tablet) {
    padding: 20px 45px;
    width: 678px;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 32px 120px;
    width: 1200px;
  }
}

.header__nav {
  @media (width >= 320px) and (width <= 1439px) {
    display: none;
    // position: relative;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    order: 1;
  }
}

.header__tel {
  padding-top: 14px;

  @media (min-width: $tablet) {
    padding-top: 0;

    display: flex;
    align-items: center;
    order: 2;
  }

  @media (min-width: $desktop) {
    order: 2;
  }
}

.header__link {
  font-family: $montserrat;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: $base-white;

  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 18px;
  }
}

.header__link:hover {
  opacity: 50%;
}

.header__link:focus-visible {
  color: $base-dark;
  outline: none;
}

.header__link:active {
  color: $hover;
}

.header__link:disabled {
  color: $disabled;
}
