.page-body__container main {
  flex-grow: 1;
}

.blocked-overlay main::after {
  content: "";
  position: absolute;
  top: 105px;
  z-index: 1;

  display: block;
  width: 100vw;
  height: 100vh;
  background: #2d383f;
  opacity: 60%;
}
