.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  padding: 2px 5px;

  font-family: $montserrat;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: $base-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  border: 1px solid $accent-blue;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    text-transform: none;
    letter-spacing: normal;
  }
}

.nav__link:hover {
  border-bottom: 1px solid $base-white;
}

.nav__link:focus-visible {
  border: 1px solid $base-white;
  outline: none;
}

.nav__link:active {
  color: $hover;
}

.nav__link:disabled {
  color: $disabled;
}

.nav__link--secondary {
  padding: 2px 5px;

  font-family: $montserrat;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $base-dark;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;

  border: 1px solid $base-white;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }
}

.nav__link--secondary:hover {
  border-bottom: 1px solid $base-dark;
}

.nav__link--secondary:focus-visible {
  border: 1px solid $base-dark;
  outline: none;
}

.nav__link--secondary:active {
  color: $accent-blue;
}

.nav__link--secondary:disabled {
  color: $disabled;
}
