.nav__toggle {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 15px;
  left: 15px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media (min-width: $tablet) {
    top: 28px;
    left: 45px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__toggle::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;

  mask-image: url("/__spritemap#sprite-menu-view");
  mask-repeat: no-repeat;
  mask-size: 26px 18px;
  mask-position: center;

  border: none;
  background-color: $base-white;

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__toggle:focus-visible {
  outline-color: transparent;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (width >= 320px) and (width <= 767px) {
    padding: 15px 15px 50px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 104px;
    z-index: 1;

    display: none;
    flex-direction: column;
    gap: 22px;

    background-color: $accent-blue;
  }

  @media (width >= 768px) and (width <= 1439px) {
    padding: 30px 45px 70px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 81px;
    z-index: 1;

    display: none;
    flex-direction: column;
    gap: 26px;

    background-color: $accent-blue;
  }

  @media (min-width: $desktop) {
    display: flex;
    gap: 20px;
  }
}

.nav__list--open {
  display: flex;
  z-index: 2;
}

.nav__link {
  font-family: $montserrat;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: $base-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    padding: 2px 5px;

    font-family: $montserrat;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;

    border: 1px solid $accent-blue;
  }
}

.nav__link:hover {
  @media (min-width: $desktop) {
    border-bottom: 1px solid $base-white;
  }
}

.nav__link:focus-visible {
  outline-color: transparent;

  @media (min-width: $desktop) {
    border: 1px solid $base-white;
  }
}

.nav__link:active {
  color: $effect;
  border-bottom: none;
}
