.reviews__shadow {
  font-family: $montserrat;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: $base-dark;
  opacity: 3%;

  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop) {
    font-size: 55px;
    line-height: 55px;
  }
}

.reviews__title {
  font-family: $montserrat;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $base-dark;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.about h3 {
  font-family: $montserrat;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: $base-dark;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    line-height: 21px;
  }
}

.reviews__slide p {
  font-family: $montserrat;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $base-dark;

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 22px;
  }
}

.reviews__slide span {
  font-family: $montserrat;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $base-dark;
}
